.galleryImagesGrid {
  column-count: 2;
  column-rule-width: "33%";
  -webkit-column-count: 4;
  /* -moz-column-count: 4, */
  -webkit-column-rule-width: "33%";
  /* MozColumnRuleWidth: "33%", */
  padding: 0 10px;
}
.styleInput {
  width: 100px;
}

.tendencias {
  font-size: 20px;
}

.tendencias h4 {
  color: #1a74f0;
}

.tendencias label {
  margin: 10px;
  margin-left: 15px;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: color 0.4s, font-size 0.4s;
}

.tendencias label:hover {
  color: #277cf3;
  font-size: 18px;
}

.logoTitulo {
  width: auto;
  font-size: 35px;
}
.containerContet {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .galleryImagesGrid {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}
@media (max-width: 900px) {
  .galleryImagesGrid {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
  .tendencias {
    font-size: 14px;
  }
  .logoTitulo {
    font-size: 13px;
  }

  .containerContet Input {
    width: 100px;
  }
}
